.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.produtos {
  background-color: #f1f1f1;
  width: 95%;
  justify-content: center;
}

.table {
  width: 100%;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.table_header {
  background-color: #ffb8b7c7;
  height: 50px;
}

.produtos {
  background-color: #f1f1f1;
}

.coluna0 {
  width: 15%;
}
.coluna1 {
  width: 35%;
}
.coluna2 {
  width: 15%;
}
.coluna3 {
  width: 15%;
}
.coluna4 {
  width: 15%;
}
.coluna5 {
  width: 5%;
}

.trash {
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.trash_button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
