@font-face {
  font-family: Roboto;
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoSlab;
  src: url("/fonts/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: Caveat;
  src: url("/fonts/Caveat-Bold.ttf");
}

html,body{
  width: 100vw;
  overflow-x: hidden;
  margin:0;
  padding: 0;
}
.main {
  font-family: RobotoSlab;
}
