

.navbar {
  width: 100%;
  height: 250px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;

  border-bottom: solid black 2px;
}

.ul_l {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
}

.ul_r {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
  margin-left: 50px;
}

.ul_l .li {
  list-style: none;
  margin: 60px;
  cursor: pointer;
  font-size: 3.3dvh;
}

.ul_r .li {
  list-style: none;
  margin: 60px;
  cursor: pointer;
  font-size: 3.3dvh;
}

.img_logo {
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image_container {
  width: 375px;
  height: 230px;
  overflow: hidden;
}

.image_container img {
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_logo {
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img_login {
  align-self: center;
  margin: auto;
}
